* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
}
#canvas {
  border: 5px solid black;
}
.hidden {
  display: none;
}
.common-shadow,
select,
button {
  box-shadow: 5px 5px 0px black;
}
.btns,
h1 {
  margin: 2rem 0;
}
.btns {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
button {
  width: 10rem;
  height: 4rem;
  background: pink;
  border: 5px solid black;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
}
button:hover {
  transform: translateY(-10%);
  box-shadow: 8px 8px 0px black;
}

.instructions {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 2rem;
}
.instructions * {
  place-self: center start;
}
.instruction-highlight {
  color: pink;
  font-weight: bold;
}
select {
  width: 10rem;
  height: 4rem;
  background: pink;
  border: 5px solid black;

  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
}

select:hover {
  transform: translateY(-10%);
  box-shadow: 8px 8px 0px black;
}

.disabled {
  pointer-events: none;
  filter: grayscale(1);
  opacity: 0.85;
}
